# Set with:
# fly secrets set --config 05-infra-ci/infra/fly/fly.toml KEY=value

DATABASE_URL=libsql://your-db-org.turso.io
TURSO_AUTH_TOKEN=
QUEUE_PUSH_AUTH_TOKEN=
STRIPE_SECRET_KEY=
RESEND_API_KEY=
CLERK_SECRET_KEY=
